.search {
    width: 95%;
    height: 70px;
    margin: 0 auto;
    .search-flds{
        float:left;
        width: 25%;
        div{
            width: 95%;
        }
        div:first-child{
            color: #FB667A;
        }
    }
}
.search-rslts {
    width: 95%;
    height: 30px;
    margin: 0 auto;
    span {
        color: #FB667A;
        float: right;
    }
}